header{
    position: static;
    background-color:rgb(7, 7, 92);
    padding: 20px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content:center;
    align-items: center;
}
main{
    font-size: 20px;
    border: 10px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    position: static;
    background-color: rgb(7, 7, 92);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
