@keyframes grow{
    from{
        font-size: 12px;
    }
    to{
        font-size: 46px;
    }
}

@keyframes slideToRight{
    from{
        left: -50px;
    }
    to{
        left: 0%;
    }
}

header{
    position: static;
    background-color:rgb(7, 7, 92);
    padding: 20px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content:center;
    align-items: center;
}
header h1{
    position: relative;
    animation-name:grow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}
.welcome{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    position: relative;
}
#welcome-text{
    position: relative;
    left: -50%;
    animation: slideToRight 4s forwards;
}




main{
    font-size: 20px;
    border: 10px solid black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box{
    overflow: hidden;
    font-size: 24px;
    padding: 20px;
    position: relative;
    left: -50%;
    animation: slideToRight 7s forwards;
}
img{
    float: left;
    margin-right: 10px;
    width: 300px;
    height: auto;
}
.box2{
    overflow: hidden;
    font-size: 24px;
    padding: 20px;
    position: relative;
    left: -50%;
    animation: slideToRight 9s forwards;
}
.box2 img{
    float: right;
    margin-right: 10px;
    width: 300px;
    height: auto;
}

.box3{
    overflow: hidden;
    font-size: 24px;
    padding: 20px;
    position: relative;
    left: -50%;
    animation: slideToRight 11s forwards;
}
.box3 img{
    float: left;
    margin-right: 10px;
    width: 250px;
    height: auto;
}
.box4{
    overflow: hidden;
    font-size: 24px;
    padding: 20px;
    position: relative;
    left: -50%;
    animation: slideToRight 13s forwards;
}
.box4 img{
    float: right;
    margin-right: 10px;
    width: 250px;
    height: auto;
}
.box5{
    overflow: hidden;
    font-size: 24px;
    padding: 20px;
    position: relative;
    left: -50%;
    animation: slideToRight 15s forwards;
}
.box5 img{
    float: left;
    margin-right: 10px;
    width: 270px;
    height: auto;
}
.box6{
    overflow: hidden;
    font-size: 24px;
    padding: 20px;
    position: relative;
    left: -50%;
    animation: slideToRight 17s forwards;
}
.box6 img{
    float: right;
    margin-right: 10px;
    width: 250px;
    height: auto;
}
.box7{
    overflow: hidden;
    font-size: 24px;
    padding: 20px;
    position: relative;
    left: -50%;
    animation: slideToRight 19s forwards;
}
.box7 img{
    float: left;
    margin-right: 10px;
    width: 250px;
    height: auto;
}
.box8{
    overflow: hidden;
    font-size: 24px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    left: -50%;
    animation: slideToRight 21s forwards;
}
.box8 img{
    float: right;
    margin-right: 10px;
    width: 250px;
    height: auto;
}
#myChartContainer{
    display: flex;
    align-items: center;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
}

.team-info{
    margin-right: 20px;
}
.team-info img{
    height: 150px;
    width: 150px;
}

footer{
    position: static;
    background-color: rgb(7, 7, 92);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
