<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pocetna</title>
    <link rel="stylesheet" href="static/pocetna.css">
    <script src="static/main.js"></script>
</head>
<body>
    <header>
        <h1><strong>SportNews</strong></h1>
    </header>
    <div class="welcome">
        <div id="welcome-text">
            <h2>Dobrodošli na SportNews!</h2>
            <strong><em><p id="welcome">Dobrodošli na vodeći sportski portal gdje možete pronaći sve najnovije vijesti, rezultate utakmica, statistike i više!</p></em></strong>
        </div>
    </div>
    <main>
        <label for="news"><strong>Najnovije vijesti iz sporta!!</strong></label>
        <select id="news">
            <option value="">Izaberi</option>
            <option value="fudbal">Cristiano Ronaldo</option>
            <option value="odbojka">OK JEDINSTVO</option>
            <option value="kosarka">KK PARTIZAN</option>
            <option value="rukomet">MRK SLOGA</option>
        </select>

        <strong><p style="color: red;" id="news-text"><strong>Odaberite i saznajte najnovije vijesti!</strong></p></strong>
    </main>

    <div class="text">
        <div class="box">
            <h2>Real Madrid pojačava svoj napad: Vinícius Junior, Rodrigo i Balinga pridružuju se "Kraljevskom klubu"</h2>
            <img src="static/1.png">
            <p>
                Real Madrid nije štedio sredstva u svom nastojanju da unaprijedi svoj napad, te je nedavno objavio potpisivanje ugovora s tri nova igrača koji će donijeti svježinu i dodatnu snagu ofanzivi kluba.

                Vinícius Junior, talentirani brazilski krilni napadač, već je poznat navijačima Real Madrida po svojoj brzini, driblingu i sposobnosti za postizanje golova. Njegova energija na terenu i mladenački entuzijazam čine ga poželjnim pojačanjem za klub.

                Rodrigo, mladi španjolski napadač, također je potpisao ugovor s Real Madridom nakon impresivnih nastupa u La Ligi. Njegova sposobnost pronalaženja prostora u protivničkoj obrani i preciznost u završnici čine ga perspektivnim igračem koji će dodatno obogatiti napadačke opcije Real Madrida.

                Balinga, talentirani napadač iz Konga, također se pridružio Real Madridu s visokim očekivanjima. Njegova fizička snaga, brzina i instinkt za gol mogu biti neprocjenjivi u napadu kluba.

                Ova trojica igrača donose novu nadu i uzbuđenje navijačima Real Madrida, te se očekuje da će doprinijeti većoj konkurenciji unutar tima i poboljšati šanse kluba za osvajanje trofeja u predstojećim sezonama. Sva tri pojačanja su u svojim ranim dvadesetima, što dodatno naglašava dugoročnu viziju kluba za uspjeh.
            </p>
        </div>
        <div class="box2">
            <h2>Spektakularna izvedba na Etihadu: Manchester City i Real Madrid podijelili bodove nakon nevjerojatne utakmice rezultatom 3-3</h2>
            <img src="static/2.png">
            <p>
                Na Etihad stadionu u Manchesteru odigrana je utakmica za pamćenje između Manchester Cityja i Real Madrida, koja je završila neodlučenim rezultatom 3-3.

                Utakmica je započela uzbudljivo, s oba tima pokazujući visoku razinu napadačke igre. Manchester City je poveo nakon brzog gola Phila Fodena, ali je Real Madrid brzo odgovorio preko Karima Benzeme, koji je svojim golom vratio izjednačenje.

                U drugom poluvremenu, Real Madrid je preuzeo kontrolu nad utakmicom golovima od Luki Modrića i Viníciusa Júniora, stavljajući City pod pritisak. Međutim, City nije odustajao. Serijom napada i sjajnim izvedbama Kevina De Bruynea i Riyada Mahreza, uspjeli su se vratiti u utakmicu. Dva brza gola, postignuta od strane Mahreza i Gabriela Jesusa, donijela su nevjerojatnu izjednačujući gol u posljednjim minutama utakmice.

                Ova utakmica je demonstrirala nevjerojatnu konkurenciju između dva velika kluba, te je ostavila navijače u neizvjesnosti do samog kraja. Iako su dijelili bodove, oba tima mogu biti ponosna na svoje izvedbe, a ovaj susret će sigurno biti upamćen kao jedan od najuzbudljivijih trenutaka u ovogodišnjoj Ligi prvaka.
            </p>
        </div>
        <div class="box3">
            <h2>Pobjeda iznenađenja na Grand Nationalu: Nezagazna dolazi do trijumfa u najvećoj utrci sezone</h2>
            <img src="static/3.png">
            <p>
                Na prestižnom Grand Nationalu, jednoj od najpoznatijih i najzahtjevnijih konjskih utrka u svijetu, došlo je do senzacionalnog iznenađenja. Nezagazna, konj s dugim šansama prema kladionicama, osvojio je titulu u ovogodišnjoj utrci.

                U ovoj iznimno zahtjevnoj utrci koja se održava na stazi Aintree u Liverpoolu, Nezagazna, pod vođstvom svog jahača, uspio je prebroditi sve prepreke na putu do pobjede. Mnogi su se iznenađeno čudili kada je Nezagazna probio se kroz konkurenciju i prešao ciljnu liniju kao pobjednik.

                Ova pobjeda simbolizira čari konjskih trka - sposobnost nepoznatih i manje poznatih konja da iznenade svjetsku javnost i osvoje najprestižnije naslove. Nezagaznaova pobjeda će zasigurno ostati upamćena kao jedna od najvećih iznenađenja u povijesti Grand Nationala, dok će jahač i tim oko konja slaviti svoj nevjerojatan uspjeh u ovoj legendarnoj utrci.
            </p>
        </div>
        <div class="box4">
            <h2>Srbija odnosi pobjedu na Svjetskom prvenstvu u odbojci, pokazujući snagu i talent</h2>
            <img src="static/4.png">
            <p>
                Odbojkaška reprezentacija Srbije ostvarila je izvanredan uspjeh na Svjetskom prvenstvu u odbojci, dominirajući na terenu i osvajajući naslov svjetskih prvaka.

                Srbija je demonstrirala nevjerojatnu snagu i talent tijekom cijelog turnira, pobjeđujući neke od najjačih ekipa u svijetu odbojke. Njihova izvanredna igra u napadu, čvrsta obrana i timska kohezija bili su ključni faktori u njihovom trijumfu.

                U finalu turnira, Srbija se suočila s izazovnim protivnikom, ali su njihovi igrači pokazali svoju klasu i hrabrost. U neizvjesnoj utakmici, Srbija je uspjela pobijediti, osiguravajući sebi naslov svjetskih prvaka i donoseći ogromnu radost svojim navijačima diljem zemlje.

                Ova pobjeda je veliki trenutak za odbojkašku reprezentaciju Srbije i za cijelu zemlju. Ona pokazuje duboku predanost i talent koji karakteriziraju srpsku odbojku, te će zasigurno biti izvor inspiracije za buduće generacije odbojkaša i navijača diljem svijeta.
            </p>
        </div>
        <div class="box5">
            <h2>Nevjerojatna borba za titulu: KK Partizan i KK Crvena zvezda ulaze u finale ABA lige</h2>
            <img src="static/5.png">
            <p>
                Nakon uzbudljive sezone prepune uzbuđenja i rivalstva, KK Partizan i KK Crvena zvezda, dva najveća kluba u srpskoj košarci, izborili su se za finale ABA lige, obećavajući epsku borbu za titulu.

                Ova dva kluba su već odigrala nekoliko nezaboravnih susreta tijekom sezone, a sada se ponovno sastaju u odlučujućoj utakmici za trofej. KK Partizan, vođen svojim mladim talentima i iskusnim igračima, pokazao je impresivnu formu tijekom cijele sezone, dok je KK Crvena zvezda, s bogatim iskustvom i snagom u svim dijelovima igre, također dominirala na terenu.

                Očekuje se da će finale biti ispunjeno strastvenom atmosferom i izvanrednom košarkom, dok će navijači oba kluba podržavati svoje favorite s nevjerojatnom energijom i vatrometom. Ova utakmica će biti prilika za oba kluba da pokažu svoju dominaciju i osvoje prestižnu titulu ABA lige.

                Sve oči ljubitelja košarke bit će uprte u finale, dok se KK Partizan i KK Crvena zvezda pripremaju za epski okršaj koji će sigurno ostati u sjećanju svih ljubitelja ovog sporta.

            </p>
        </div>
        <div class="box6">
            <h2>Ragbi reprezentacija Novog Zelanda osvaja Svjetsko prvenstvo, demonstrirajući svoju dominaciju na terenu</h2>
            <img src="static/6.png">
            <p>
                Ragbi reprezentacija Novog Zelanda odnijela je pobjedu na Svjetskom prvenstvu u ragbiju, potvrđujući svoj status kao jedan od najdominantnijih timova u povijesti ovog sporta.

                Kroz nekoliko izvanrednih nastupa tijekom turnira, Novi Zeland je pokazao svoju snagu, preciznost i timsku koheziju, što im je omogućilo da stignu do finala i osvoje naslov svjetskih prvaka.

                U finalnoj utakmici, Novi Zeland je demonstrirao svoju nevjerojatnu igru u napadu i obrani, nadmašujući svoje protivnike i osiguravajući uvjerljivu pobjedu. Njihova sposobnost pronalaženja prilika za postizanje golova i čvrsta obrana bili su ključni faktori u njihovom trijumfu.

                Ova pobjeda je dodatno pojačala reputaciju Novog Zelanda kao neprikosnovenog lidera u svjetskom ragbiju, dok je ostavila dubok utisak na sve ljubitelje ovog sporta diljem svijeta. Svi će se sada s nestrpljenjem gledati kako će Novi Zeland braniti svoj naslov i nastaviti svoju dominaciju u budućim natjecanjima.
            </p>
        </div>
        <div class="box7">
            <h2>Mladi fudbaleri Srbije osvajaju Evropsko prvenstvo U-21, pokazujući sjajnu perspektivu za budućnost</h2>
            <img src="static/7.png">
            <p>
                Mlada reprezentacija Srbije u fudbalu ostvarila je veliki uspjeh osvajanjem Evropskog prvenstva U-21, demonstrirajući svoj talent, upornost i timski duh na najvišem nivou.

                Kroz nekoliko sjajnih nastupa tokom turnira, mladi fudbaleri Srbije su dominirali na terenu, pobjeđujući neke od najboljih ekipa u Evropi. Njihova izvanredna igra u napadu, čvrsta obrana i nevjerojatna timska kohezija bili su ključni faktori u njihovom trijumfu.

                U finalu protiv jakog protivnika, mlada reprezentacija Srbije nije pokazala ni trunku straha, već je hrabro napadala i dominirala na terenu. Njihova odlučnost se isplatila, jer su osvojili naslov prvaka uz impresivan rezultat.

                Ovaj trijumf ne samo da slavi uspjeh mladih fudbalera Srbije, već i obećava svijetlu budućnost za srpski fudbal u godinama koje dolaze. Ova generacija talentiranih igrača donosi nadu i inspiraciju za sve mlade fudbalere u Srbiji, dok se zemlja ponosi svojim novim evropskim prvacima.
            </p>
        </div>
        <div class="box8">
            <h2>Mlada rukometna reprezentacija Srbije osvaja Svjetsko prvenstvo U-20, pokazujući svoj talent i predanost</h2>
            <img src="static/8.png">
            <p>
                Mlada rukometna reprezentacija Srbije postigla je izvanredan uspjeh osvajanjem Svjetskog prvenstva U-20, ističući se svojim talentom, upornošću i timskim duhom.

                Kroz nekoliko sjajnih nastupa tokom turnira, mladi rukometaši Srbije su dominirali na terenu, pobjeđujući neke od najboljih ekipa iz cijelog svijeta. Njihova izvanredna igra u napadu, čvrsta obrana i nevjerojatna timska kohezija bili su ključni faktori u njihovom trijumfu.

                U finalu protiv snažnog protivnika, mlada reprezentacija Srbije pokazala je hrabrost, odlučnost i izuzetnu tehniku, što im je omogućilo da osvoje naslov prvaka s impresivnim rezultatom.

                Ovaj trijumf slavi uspjeh mladih rukometaša Srbije i obećava svijetlu budućnost za srpski rukomet u godinama koje dolaze. Ova generacija talentiranih igrača donosi nadu i inspiraciju za sve mlade rukometaše u zemlji, dok se Srbija ponosi svojim novim svjetskim prvacima u rukometu.Ova generacija talentiranih igrača donosi nadu i inspiraciju za sve mlade fudbalere u Srbiji, dok se zemlja ponosi svojim novim evropskim prvacima.
            </p>
        </div>
    </div>
    
    <footer>
        <h4><em>Made by © Bozidar Bajovic</em></h4>
        <a href="mailto:bbajovic7@gmail.com"><strong><em>Posalji mi mail</em></strong></a>
        <p>Phone: 065/094-185</p>
    </footer>
</body>
</html>