<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pocetna</title>
    <link rel="stylesheet" href="static/pocetna.css">
    <script src="static/main.js"></script>
</head>
<body>
    <header>
        <h1><strong>SportNews</strong></h1>
    </header>
    <div class="welcome">
        <div id="welcome-text">
            <h2>Dobrodošli na SportNews!</h2>
            <strong><em><p id="welcome">Dobrodošli na vodeći sportski portal gdje možete pronaći sve najnovije vijesti, rezultate utakmica, statistike i više!</p></em></strong>
        </div>
    </div>
    <main>
        <label for="news"><strong>Najnovije vijesti iz sporta!!</strong></label>
        <select id="news">
            <option value="">Izaberi</option>
            <option value="fudbal">Cristiano Ronaldo</option>
            <option value="odbojka">OK JEDINSTVO</option>
            <option value="kosarka">KK PARTIZAN</option>
            <option value="rukomet">MRK SLOGA</option>
        </select>


        <strong><p style="color: red;" id="news-text"><strong>Klikni na izaberi da provjeris novosti!</strong></p></strong>
    </main>
    <footer>
        <h4><em>Made by © Bozidar Bajovic</em></h4>
        <a href="mailto:bbajovic7@gmail.com"><strong><em>Posalji mi mail</em></strong></a>
        <p>Phone: 065/094-185</p>
    </footer>
</body>
</html>